# Compiled class file
*.class
*.classpath

#Folders
node_modules
.expo
.expo-shared
.vscode
__tests__
**/client/desktop/orderNotifyDesktop/android
**/client/desktop/orderNotifyDesktop/ios
**/client/desktop/orderNotifyDesktop/windows
# Log file
*.log

# File types
*.storyboard


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
RemoteSystemsTempFiles/.project
